<!-- <div *ngFor="let item of phoneList">
  {{item.name}}
</div> -->
<p-dataList [value]="phoneList">
  <p-header>Phone Galary</p-header>
  <ng-template let-phone pTemplate="item">
    <div class="ui-g ui-fluid phone-item">
      <div class="ui-g-12 ui-md-3" style="text-align:center">
        <img src="assets/{{phone.imageUrl}}">
      </div>
      <div class="ui-g-12 ui-md-9 phone-details">
        <div class="ui-g">
          <div class="ui-g-2 ui-sm-6">Model: </div>
          <div class="ui-g-10 ui-sm-6">{{phone.name}}</div>
          <div class="ui-g-2 ui-sm-6">Description: </div>
          <div class="ui-g-10 ui-sm-6">{{phone.snippet}}</div>
          <div class="ui-g-2 ui-sm-6">Carrier: </div>
          <div class="ui-g-10 ui-sm-6">{{phone.carrier}}</div>
        </div>
      </div>
    </div>
  </ng-template>
</p-dataList>